**/.idea/
**/*.iml
**/.settings/
**/.project
**/.classpath
**/target/
!/.idea/
.DS_Store
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/misc.xml
.idea/sqldialects.xml
.idea/uiDesigner.xml
.idea/vcs.xml
bird-admin-api/bird-admin-common/src/main/resources/
bird-admin-api/bird-admin-common/src/test/
bird-admin-api/bird-admin-controller/src/test/
bird-admin-api/bird-admin-dao/src/main/resources/
bird-admin-api/bird-admin-dao/src/test/
bird-admin-api/bird-admin-service/src/main/resources/
bird-admin-api/bird-admin-service/src/test/
bird-admin-front/.idea/codeStyles/
bird-admin-front/.idea/inspectionProfiles/
bird-admin-front/.idea/modules.xml
bird-admin-front/.idea/vcs.xml
bird-admin-front/.idea/workspace.xml
